
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../pagina-nao-encontrada/pagina-nao-encontrada.component.css" />

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops, A pagina buscada nao pode ser encontrada!</h2>

			<a href="/"><span class="arrow"></span>Retornar para pagina de login</a>
		</div>
	</div>
