<div *ngIf="booleanExibir" >
<app-nav-bar></app-nav-bar>
<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="card">
          <div class="card-header">
            Criar
          </div>
          <div class="card-body">
           
            <form #f="ngForm" (ngSubmit)="criaGrupo()">
              <div class="form-group">
                <label for="nome">Nome do grupo</label>
                <input type="nome" class="form-control " placeholder="nome"
                    name="nome" #textNome="ngModel" required [(ngModel)]="nome"
                    [class.is-invalid]="textNome.invalid && (textNome.dirty || textNome.touched)">
                <div *ngIf="textNome.invalid && (textNome.dirty || textNome.touched)"
                    class="invalid-feedback">
                    <span *ngIf="textNome.errors.required">Informe o nome do Grupo</span>
                </div>
              </div>
                 

                  <div class="form-group">
                    <label for="descricao">Descricao do grupo</label>
                    <textarea maxlength="535" type="descricao" class="form-control " placeholder="Descricao"
                        name="descricao" #textDescricao="ngModel" required [(ngModel)]="descricao"
                        [class.is-invalid]="textDescricao.invalid && (textDescricao.dirty || textDescricao.touched)">
                        </textarea>
                    <div *ngIf="textDescricao.invalid && (textDescricao.dirty || textDescricao.touched)"
                        class="invalid-feedback">
                        <span *ngIf="textDescricao.errors.required">Digite uma breve descricao</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nome_ad">Nome do grupo no AD</label>
                    <textarea type="nome_ad" class="form-control " placeholder="Nome do grupo no AD"
                        name="nome_ad" #textNome_ad="ngModel" required [(ngModel)]="nome_no_ad"
                        [class.is-invalid]="textNome_ad.invalid && (textNome_ad.dirty || textNome_ad.touched)">
                        </textarea>
                    <div *ngIf="textNome_ad.invalid && (textNome_ad.dirty || textNome_ad.touched)"
                        class="invalid-feedback">
                        <span *ngIf="textNome_ad.errors.required">Digite o nome do grupo no AD</span>
                    </div>
                  </div>
            
            
                <button class="btn btn-primary btn-sm ml-1" type="submit" [disabled]="!f.valid">Salvar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" routerLink="/protected/grupos" >Cancelar</button>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="booleanExibirRetorno === true" class="text-center ">
<app-sessao-expirada></app-sessao-expirada>


</div>