
<div>
    <app-nav-bar></app-nav-bar>
  <div class="container mt-3">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <app-error-msg></app-error-msg>
          <div class="card">
            <div class="alert alert-dark text-center">
              <h5>Usuario - {{nome}}</h5>
            </div>
            <div class="card-body">
             
              <form #f="ngForm" (ngSubmit)="atualizaUsuario()">
                <div class="form-group">
                  <h5 class="text-center">Grupos</h5>

                
                   
                <hr>
                <div class="row mt-3" *ngFor="let nome of lista ;let i = index" >
                  <div class="col-md-8 mx-auto">
                    <div class="card">

                      <div class="card-body">
                        <strong><p class="card-text">{{nome}}</p></strong>
                      </div>
                      <div class="card-footer">
                        <div class="text-right">
                          <button type="button" class="btn btn-warning btn-sm ml-1" (click)="atualizaUsuario(nome)" >Deletar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <button class="btn btn-primary btn-sm ml-1" type="submit" [disabled]="!f.valid">Salvar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" routerLink="/protected/grupos" >Cancelar</button>
                </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<app-footer></app-footer>