<div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Adm Sistemas</h5 >
  <nav class="my-2 my-md-0 mr-md-3">

  </nav>
  <a (click)="logout()" class="btn btn-outline-primary" href="#">Sair</a>
 
</div>

<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="text-right">
          <button type="button" class="btn btn-success" routerLink="/protected/criar/grupo">Novo grupo</button>
        </div>

      </div>
    </div>
   



    
    <div class="row mt-3" *ngFor="let nome of listaNome ;let i = index" >
      <div class="col-md-8 mx-auto">
        <div class="card">

          <div class="card-body">
            <strong><p class="card-text">{{nome}}</p></strong>
            <p class="card-text">{{listaDescricao[i]}}</p>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/protected/editar/grupo/{{nome}}" >Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleta_do_banco(nome)" >Deletar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
