body,html {
    font-size: 14px;
    
    height: 100%;
    margin-top: .5rem;
    
  }
  @media (min-width: 768px) {
    body,html {

      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  