
  
<div *ngIf="booleanExibir">
<app-nav-bar></app-nav-bar>
</div>
<app-error-msg></app-error-msg>
<div *ngIf="booleanExibir">
<div class="pricing-header px-2 py-2 pt-md-5 pb-md-4 mx-auto text-center">

  <h1 class="">Menu</h1>
  <div *ngIf="primeiroacesso===true">
  <alert type="success" [dismissible]="dismissible" (onClosed)="onClosed($event)" >
    <h4 class="alert-heading">Bem vindo!</h4>
    <p>Este sistema tem como objetivo controlar permissões envolvendo aplicações da SEGIT, que estão no na pasta GrupoAplicacoes do AD(Active Directory)</p>
    <p class="mb-0"><strong> Escolha a opcao desejada.</strong></p>
 </alert>
</div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Usuários</h4>
      </div>
      <div class="card-body">
       
        <img class="mb-2" src="../../../assets/network.svg" alt="" width="230" height="250">
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="ir_usuarios()" tooltip="Gerenciar permissões de usuários"  placement="bottom">Acessar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sistemas</h4>
      </div>
      <div class="card-body">
        
        <img class="mb-2" src="../../../assets/content-management-system.svg" alt="" width="230" height="250">
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="ir_sistemas()" tooltip="Gerenciar sistemas"  placement="bottom">Acessar</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

 





</div>
<div *ngIf="booleanExibirRetorno === true" >

<app-sessao-expirada></app-sessao-expirada>

</div>






