<div>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Adm Sistemas</h5>
    <nav class="my-2 my-md-0 mr-md-3">
  
    </nav>
    <a (click)="logout()" class="btn btn-outline-primary" href="#">Sair</a>
   
  </div>

<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="card">
          <div class="card-header text-center">
            <h3>Editar Grupo</h3>
          </div>
          <div class="card-body">
           
            <form #f="ngForm" (ngSubmit)="atualizaGrupo()">
                <div class="form-group">
                  <label for="conteudo">Nome do Grupo</label>
                  <input
                    class="form-control" 
                    id="nome_do_grupo" 
                    rows="2" 
                    placeholder={{nomeAntigo}} name="conteudo"
                    #conteudo="ngModel" 
                    [(ngModel)]="nomeNovo" 
                    [class.is-invalid]="!conteudo.valid && conteudo.touched"
                    required>
                  
                  <div *ngIf="!conteudo.valid && conteudo.touched" class="text-danger">
                   Digite o nome
                  </div>
                </div>
            
            
                <div class="form-group">
                    <label for="conteudo">Descricao do grupo</label>
                    <textarea 
                      class="form-control" 
                      id="descricao_do_grupo" 
                      rows="2" 
                      placeholder={{descricaoAntiga}} name="conteudo"
                      #conteudo="ngModel" 
                      [(ngModel)]="descricaoNova" 
                      [class.is-invalid]="!conteudo.valid && conteudo.touched"
                      required>
                    </textarea>
                    <div *ngIf="!conteudo.valid && conteudo.touched" class="text-danger">
                     Digite uma descricao do grupo
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="conteudo">Nome do grupo no AD</label>
                    <input
                      class="form-control" 
                      id="descricao_do_grupo" 
                      rows="2" 
                      placeholder={{nome_ad_antigo}} name="conteudo"
                      #conteudo="ngModel" 
                      [(ngModel)]="nome_ad_novo" 
                      [class.is-invalid]="!conteudo.valid && conteudo.touched"
                      required>
                    <div *ngIf="!conteudo.valid && conteudo.touched" class="text-danger">
                     Digite o nome do grupo no AD
                    </div>
                  </div>
            
            
                <button class="btn btn-primary btn-sm ml-1" type="submit" [disabled]="!f.valid">Salvar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" routerLink="/protected/grupos" >Cancelar</button>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>