<div *ngIf="booleanExibir" >
  <app-nav-bar></app-nav-bar>
<div class="container mt-3">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <app-error-msg></app-error-msg>
        <div class="card">
          <div class="card-header text-center">
            <h3>Editar Grupo</h3>
          </div>
          <div class="card-body">
           
            <form #f="ngForm" (ngSubmit)="atualizaGrupo()">
                <div class="form-group">
                  <label for="conteudo">Nome do Grupo</label>
                  <input
                  type="text" 
                  class="form-control " 
                  placeholder={{nomeAntigo}}
                  name="username" 
                  #textNomeNovo="ngModel" 
                  required [(ngModel)]="nomeNovo"
                  [class.is-invalid]="textNomeNovo.invalid && (textNomeNovo.dirty || textNomeNovo.touched)">
                  
                  <div *ngIf="textNomeNovo.invalid && (textNomeNovo.dirty || textNomeNovo.touched)"
                  class="invalid-feedback">
                  <span *ngIf="textNomeNovo.errors.required">Informe o nome</span>
              </div>
                </div>

                <div class="form-group">
                  <label for="conteudo">Descricao do Grupo</label>
                  <input
                  type="text" 
                  class="form-control " 
                  placeholder={{descricaoAntiga}}
                  name="username" 
                  #textDescricaoNova="ngModel" 
                  required [(ngModel)]="descricaoNova"
                  [class.is-invalid]="textDescricaoNova.invalid && (textDescricaoNova.dirty || textDescricaoNova.touched)">
                  
                  <div *ngIf="textDescricaoNova.invalid && (textDescricaoNova.dirty || textDescricaoNova.touched)"
                  class="invalid-feedback">
                  <span *ngIf="textDescricaoNova.errors.required">Informe a descricao</span>
              </div>
                </div>
                <div class="form-group">
                  <label for="conteudo">Nome do Grupo</label>
                  <input
                  type="text" 
                  class="form-control " 
                  placeholder={{nomeAntigo}}
                  name="username" 
                  #textNomeNovo="ngModel" 
                  required [(ngModel)]="nomeNovo"
                  [class.is-invalid]="textNomeNovo.invalid && (textNomeNovo.dirty || textNomeNovo.touched)">
                  
                  <div *ngIf="textNomeNovo.invalid && (textNomeNovo.dirty || textNomeNovo.touched)"
                  class="invalid-feedback">
                  <span *ngIf="textNomeNovo.errors.required">Informe o nome</span>
              </div>
                </div>
            
                <button class="btn btn-primary btn-sm ml-1" type="submit" [disabled]="!f.valid">Salvar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" routerLink="/protected/grupos" >Cancelar</button>
              </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="booleanExibirRetorno === true" class="text-center ">

  <app-sessao-expirada></app-sessao-expirada>


</div>