<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Signin Template</title>


    <!-- Bootstrap core CSS -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <form class="form-signin">
  <img class="mb-4" src="../../../assets/logo-tre.png" alt="" width="72" height="72">
 <app-error-msg></app-error-msg>
  <h1 class="h3 mb-3 font-weight-normal">ADM grupos</h1>
  <label  class="sr-only">Usuario</label>
  
  
  <input [(ngModel)]="usuario" name="usuario" type="usuario" id="usuario" class="form-control" placeholder="Usuario" required autofocus>
  
  
  <label for="inputPassword" class="sr-only">Senha</label>
  <input [(ngModel)]="senha" name="senha"  type="password" id="senha" class="form-control" placeholder="Senha" required>
  <div class="checkbox mb-3">

  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit"(click)="logar()">Entrar</button>
  
</form>
</body>
</html>
