<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <form class="form-signin text-center" #formLogin="ngForm" (submit)="logar()">
            <img class="mb-4 " src="../../../assets/logo-tre.png" alt="" width="62" height="60">
            
            <link href="../login/login.component.css" rel="stylesheet">
            <h1 class="h3 mb-3 font-weight-normal"><strong>ADM sistemas</strong></h1>
            
            
            <div class="form-group">
              <app-error-msg></app-error-msg>
              <input type="text" class="form-control form-control-lg" placeholder="Nome de usuário"
                  name="username" #textUsuario="ngModel" required [(ngModel)]="usuario"
                  [class.is-invalid]="textUsuario.invalid && (textUsuario.dirty || textUsuario.touched)">  
              <div *ngIf="textUsuario.invalid && (textUsuario.dirty || textUsuario.touched)"
                  class="invalid-feedback">
                  <span *ngIf="textUsuario.errors.required">Informe seu nome de usuário</span>
              </div>
              
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Senha"
                  name="password" #textSenha="ngModel" required [(ngModel)]="senha"
                  [class.is-invalid]="textSenha.invalid && (textSenha.dirty || textSenha.touched)">
              <div *ngIf="textSenha.invalid && (textSenha.dirty || textSenha.touched)"
                  class="invalid-feedback">
                  <span *ngIf="textSenha.errors.required">Informe a senha</span>
              </div>
            </div>
            <!--
            <div class="col-md-6 my-4">
              
                <ngx-recaptcha2 #captchaElem
                  [siteKey]="sitekey"
                
                  required 
                  [class.is-invalid]="textSenha.invalid && (textSenha.dirty || textSenha.touched)"
                  >
                </ngx-recaptcha2>
             


            </div>
            -->
            <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" [disabled]="formLogin.invalid">
                <i class="fas fa-key" aria-hidden="true"></i>
                Entrar
            </button>
            </div>
            <footer class="my-5 pt-5 text-muted text-center text-small">
              <p class="mb-1">&copy; SEGIT - 2020 </p>
            </footer>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

