<div >
    <app-nav-bar></app-nav-bar>
</div>    


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >

<div class="col-sm-6 my-5 mx-auto">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Pesquisar">
      <div class="input-group-append">
        <div class="input-group-text" (click)="atualiza()"><i class="fas fa-search"></i></div>
      </div>
    </div>
  </div>


<div class="row mt-5"  >
    <div class="col-md-6 mx-auto">
      <div class="card">

        <div class="card-body ">
          <strong><p class="card-text">Usuario</p></strong>

        </div>
        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm ml-1"  >Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>