

<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="../sessao-expirada/sessao-expirada.component.css" />

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Ops</h1>
    </div>
    <h2>Oops, sua sessão expirou, faça o login novamente para utilizar o sistema!</h2>

    <a href="/"><span class="arrow"></span>Retornar para pagina de login</a>
  </div>
</div>